.tag {
    float: left;
    margin: 0 8px 8px 0;
    background-color: #E2E4E7;
    padding: 0 8px;
    border-radius: 15px;
    line-height: 30px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.deleteBtn {
    appearance: none;
    outline: 0;
    border: 0;
    width: 15px;
    height: 15px;
    line-height: 1;
    cursor: pointer;
    border-radius: 50%;
    background-color: #555D66;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    margin-left: 4px;
}

.closeIcon {
    color: #fff;
}
