.container {
    padding: 16px;
}

.tagInput {
    width: auto;
    display: inline-block;
    max-width: 100%;
    line-height: 30px;
    margin: 2px 0 6px 8px;
    border: 0;
    outline: 0;
    box-shadow: none;
}

.tagWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 300px;
    border-radius: 4px;
    border: 2px solid #8d96a0;
    padding: 6px 4px 0;
    cursor: text;
    margin: 0 auto;
}

.tagWrapper.active {
    border-color: #007cba;
}

.tagWrapper:after {
    content: '';
    clear: both;
    display: block;
}
